<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gydz.user.mapper.warnhistoryMapper">
    
    <insert id="add" parameterType="sensorrecord">
        insert into history_warn(start_time,IP,name,sensor_type,warncontent,warnlevel,warn_state,IPnamelevel)
        values(#{start_time},#{IP},#{name},#{sensor_type},#{warncontent},#{warnlevel},0,#{IPnamelevel})
    </insert>

   <select id="getlistbyparam" parameterType="Map" resultType="sensorrecord">
		select * from
		history_warn
		where 1=1
		<if test="(datemin != null  and datemin != '') and (datemax != null and datemax != '')">
            and start_time between #{datemin} and #{datemax}
        </if>
		<if test="queryType != '全部' and queryType != null and queryType != ''">
		and sensor_type = #{queryType}
		</if>
		<if test="IPType != '全部' and IPType != null and IPType != ''">
		and IP = #{IPType}
		</if>
		<if test="nameType != '全部' and nameType != null and nameType != ''">
		and name = #{nameType}
		</if>
	</select>
	
	<select id="getwarnnotok" resultType="sensorrecord">
		select * from
		history_warn
		where warn_state = 0
	</select>
	
	<update id="update" parameterType="Map">
        update history_warn 
        set warn_state = 1,end_time=#{end_time}
        where IPnamelevel=#{IPnamelevel}
    </update>
</mapper>